{% extends "base.html" %}

{% block title %}Company Details{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">{{ company.title }}</h1>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://finder.work/companies/{{ company.company_id }}" class="text-primary font-weight-bold">{{ company.title }}</a></h5>
                    <p class="card-text font-weight">{{ company.description | safe  }}</p>
                    <p class="card-text text-muted">{{ company.type }}</p>
                    <p class="card-text text-muted">{{ company.contacts }}</p>
                    <p class="card-text text-muted"><strong>Tax ID:</strong> {{ company.tax_id }}</p>
                    <p class="card-text text-muted"><strong>Has Paid Vacancies:</strong> {{ company.has_paid_vacancies }}</p>
                    <p class="card-text text-muted"><strong>Logo:</strong> <img src="{{ company.logo }}" alt="{{ company.title }} Logo" class="img-fluid"></p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">Vacancies</h2>
    <div class="row">
        {% for vacancy in company.vacancies %}
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('vacancy', vacancy_id=vacancy.vacancy_id) }}" class="text-primary font-weight-bold">{{ vacancy.title }}</a></h5>
                    <p class="card-text font-weight">{{ vacancy.salary_from }} - {{ vacancy.salary_to }} {{ vacancy.currency_symbol }}</p>
                    <p class="card-text text-muted">{{ vacancy.description[:100] }}</p>
                    <p class="card-text text-muted"><strong>Employment Type:</strong> {{ vacancy.employment_type }}</p>
                    <p class="card-text text-muted"><strong>Distant Work:</strong> {{ vacancy.distant_work }}</p>
                    <p class="card-text text-muted"><strong>Experience:</strong> {{ vacancy.experience }}</p>
                    <p class="card-text text-muted"><strong>Locations:</strong> {{ vacancy.locations_list | join(', ') }}</p>
                    <p class="card-text text-muted"><strong>Publication Date:</strong> {{ vacancy.publication_at }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
